<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Dashboard</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>All Tasks (Please Login Or Signup)</h1>
    <button id="user-tasks-button" class="btn">Fetch User Tasks</button>
    <button id="admin-tasks-button" class="btn">Fetch Admin Tasks</button>
    <div class="task-container"></div>

    <script src="index.js"></script>
</body>

</html>