<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="form.css">
</head>
<body>
    <h1>Login Page</h1>
    <form action="/api/auth/login" method="post">
        <label for="email">Email: <input type="email" name="email"></label>
        <label for="password">Password: <input type="password" name="password"></label>
        <button type="submit">Login</button>
    </form>
</body>
</html>