<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Signup Page</h1>
    <form action="/api/auth/register" method="post">
        <label for="name">Name: <input type="text" name="name"></label>
        <label for="email">Email: <input type="email" name="email"></label>
        <label for="password">Password: <input type="password" name="password"></label>
        <button type="submit">Signup</button>
    </form>
</body>
</html>